body {
    background-color: #d3b990;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    color: darkcyan;
    text-align: center;
    font-size: 22px;
    background-color: #bd7b46;
}
.main{
    color: #859493;
}

.section{
font-size: 18px;
color: #a7ba93;
background-color: darkolivegreen;
}

.footer{
    color: #8d614d;
}

.special{
    color: #5b1f11;
    font-style: italic;
}
#main-title {
    color: midnightblue;
}