body {
    background-color: #d3b990;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkcyan;
    text-align: center;
    font-size: 40px;
}
h2,h3 {
    color: #859493;
}

p{
font-size: 18px;
color: #696759;
}

ul{
    color: #8d614d;
}

ol{
    color: #3f4e4f;
}